<!-- Educación -->
<section class="container mt-3 educacion">
    <div class="card p-5">
      <div class="card-title pb-1">
        <h2>Educación</h2>
      </div>

      <div class="row estudio1 p-3" *ngFor="let educacion of educaciones">
        <div class="col-sm-12 col-md-2 col-lg-2">
          <img
            [src]="educacion.imagenInst"
            class="img-fluid w-75 pb-3"
            [alt]="educacion.institucion"
          />
        </div>

        <div class="col-sm-12 col-md-10 col-lg-10 px-3">
          <h4 class="card-title">
            {{educacion.titulo}} | {{educacion.institucion}}
          </h4>
          <h5 class="card-subtitle">Fecha de Egreso: {{educacion.fechaEgreso}}</h5>
        </div>
      </div>

    </div>
  </section>