<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg bg-navegacion sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand me-auto" href="#">
      <img
        src="/assets/img/logo_AP.png"
        alt="Logo Argentina Programa"
        class="w-50"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.linkedin.com/in/gloria-berm%C3%BAdez/"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin text-black fa-2x"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://github.com/gloria-ber"
            target="_blank"
          >
            <i class="fa-brands fa-github text-black fa-2x"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.instagram.com/gloria_ber/"
            target="_blank"
          >
            <i class="fa-brands fa-square-instagram text-black fa-2x"></i>
          </a>
        </li>

        <!-- Botón que redirige a login -->
        <li class="nav-item">
          <a class="nav-link" href="/login.html">
            <i class="fa-solid fa-user-lock text-black fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>