<!-- Presentación -->
<section class="container presentacion mt-5">
    <div class="row">
      <div class="col-sm-12 col-md-2 col-lg-2">
        <img
          src="/assets/img/foto_cv.png"
          class="perfil img-fluid w-75"
          alt="foto de perfil"
        />
      </div>
      <div class="col-sm-12 col-md-10 col-lg-10 text-align-left">
        <p class="pt-2">
          Soy una persona con diversos intereses, me gusta adquirir nuevas habilidades
          constantemente. <br> Inicié mi formación académica en diseño gráfico y
          fotografía. Luego estudié administración de empresas y en este
          momento me estoy adentrando en el mundo del desarrollo web. <br> Siento
          que cada experiencia suma y le agrega versatilidad a mi perfil
          profesional.
        </p>
      </div>
    </div>
  </section>