<!-- Presentación -->
<section class="presentacion" *ngFor="let persona of personas">
  <div class="banner text-white">
    <h1 class="mt-5 pt-5">{{persona.nombre}} {{persona.apellido}}</h1>
    <h4>{{persona.descripcion}}</h4>
  </div>

  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-sm-12 col-md-2 col-lg-2 text-center">
        <img
          src="/assets/img/foto_cv.png"
          class="perfil img-fluid w-75"
          alt="foto de perfil"
        />
      </div>
      <div class="col-sm-12 col-md-10 col-lg-10 text-align-left">
        <p class="pt-4">
          {{persona.presentacion}}
        </p>
      </div>
    </div>
  </div>
</section>
