<!-- Proyectos -->
    <section class="container mt-3 proyectos mb-3">
      <div class="card p-5">

        <div class="card-subtitle pb-4">
          <h2>Proyectos</h2>
        </div>

        <div class="row">

          <div class="col p-3 m-1">   
            <div class="card proyecto">        
              <h4 class="card-title">Pelis App</h4>
              <a href="https://github.com/gloria-ber/frontend/" target="_blank">
                <img 
                src="./assets/img/pelis_app.png" 
                class="img-fluid"
                alt="imagen de aplicación de películas">
              </a>    
            </div>         
          </div>

          <div class="col p-3 m-1">   
            <div class="card proyecto">        
              <h4 class="card-title">Pelis App</h4>
              <a href="https://github.com/gloria-ber/frontend/" target="_blank">
                <img 
                src="./assets/img/pelis_app.png" 
                class="img-fluid"
                alt="imagen de aplicación de películas">
              </a>    
            </div>         
          </div>
          
        </div>
      </div>
    </section>