<!-- Experiencia -->
<section class="container mt-5 experiencia">
    <div class="card p-5">
      <div class="card-title pb-1">
        <h2>Experiencia</h2>
      </div>

      <div class="row p-3" *ngFor="let experiencia of experiencias">
        <div class="col-sm-12 col-md-2 col-lg-2">
          <img
          [src]="experiencia.imagenEmpresa"
            class="img-fluid pt-3"
            [alt]="experiencia.empresa"
          />
        </div>

        <div class="col-sm-12 col-md-10 col-lg-10 px-3">
          <h3 class="card-title py-4">{{experiencia.empresa}}</h3>
          <h4 class="card-subtitle">{{experiencia.fechaInicio}} - {{experiencia.fechaFin}}</h4>
          <p class="card-body descripcion">
           {{experiencia.tareas}}
          </p>         
        </div>
      </div>


    </div>
  </section>